{%extends "base/page.html"%}
{%block title%}Linux downloads (other){%endblock%}
{%block contents%}

<h1>Linux downloads (other)</h1>
<p>
<b>Note!</b> These are the generic Linux download instructions. If you
are using one of the major Linux distributions, you should read the
distribution specific instructions:
</p>
<ul>
 <li><a href="/download/linux/redhat/">RedHat/CentOS/Fedora/Scientific</a> families Linux</li>
 <li><a href="/download/linux/debian/">Debian</a> GNU/Linux</li>
 <li><a href="/download/linux/ubuntu/">Ubuntu</a> Linux</li>
 <li><a href="/download/linux/suse/">SuSE</a> and OpenSuSE</li>
</ul>

<h2>Generic linux distributions</h2>
<p>
PostgreSQL is available integrated with the package management on most
Linux platforms. When available, this is the recommended way to install
PostgreSQL, since it provides proper integration with the operating system,
including automatic patching and other management functionality.
</p>
<p>
Should packages not be available for your distribution, or there are
issues with your package manager, there are graphical installers available.
</p>
<p>
Finally, most Linux systems make it easy to build from source.
</p>

<h2>Integrated installation</h2>
<p>
For information about how to perform this installation, please consult
the documentation for your Linux distribution.
</p>

<h2>Graphical installer</h2>

<p>
One click installers are available for 32 and 64 bit Linux distributions
and include PostgreSQL, pgAdmin, PL/Java and the PL/pgSQL debugger plugin.
The installer has been tested with a number of recent Linux distributions
and should work on Ubuntu 6.06 and above, Fedora 6 and above,
CentOS/Red Hat Enterprise Linux 4 and above and others.
</p>
<p>
<a href="http://www.enterprisedb.com/products/pgdownload.do">Download</a>
the packages from EnterpriseDB.
</p>

<p>
<b>Note: The one click installers do not integrate with
platform-specific packaging systems.</b>
</p>

<p>
<i>The one click installers are maintained by Dave Page at
<a href="http://www.enterprisedb.com">EnterpriseDB</a>.</i>
</p>

<h2>Build from source</h2>
<p>
The source code can be found in the main <a href="/pub/source">file browser</a>.
Instructions for building from source can be found in the
<a href="/docs/current/static/installation.html">documentation</a>.
</p>
{%endblock%}
