{%extends "base/page.html"%}
{%block title%}Mac OS X packages{%endblock%}
{%block contents%}

<h1>Mac OS X packages</h1>
<p>
PostgreSQL is the default database on MacOS X Server.
XXX: FIXME: need to add omre info about this, and when to use it vs when to
use our installers etc.
</p>
<p>
There are also several other installers available for PostgreSQL on MacOS X.
</p>

<h2>One click installer</h2>

<p>
A one click installer is available for for Mac OS X 10.4 and above on
Intel and PPC and includes PostgreSQL, pgAdmin, PL/Java and the PL/pgSQL
debugger plugin.
</p>

<p>
<a href="http://www.enterprisedb.com/products/pgdownload.do#osx">Download</a>
the packages from EnterpriseDB.
</p>

<h2>Postgres.app</h2>
<p>
Postgres.app is a native MacOS X app designed for developer who wants a
"desktop style" installer. It is not intended for server deployments, but
makes starting and stopping and general handling of a local PostgreSQL
server for development easy.
</p>

<h2>Fink</h2>

<p>
PostgreSQL packages are available for Mac OS X from the
<a href="http://www.finkproject.org/">Fink Project</a>.
Please see the Fink documentation for information on how to install packages.
</p>

<p>
A list of
<a href="http://pdb.finkproject.org/pdb/browse.php?summary=postgresql">PostgreSQL packages</a>
can be found using the package search tool on the Fink website.
</p>

<h2>MacPorts</h2>

<p>
PostgreSQL packages are also available for Mac OS X from the
<a href="http://www.macports.org/">MacPorts Project</a>. Please see the
MacPorts documentation for information on how to install ports.
</p>

<p>
A list of
<a href="http://www.macports.org/ports.php?by=name&substr=postgresql">PostgreSQL packages</a>
can be found using the portfiles search tool on the MacPorts website.
</p>

{%endblock%}
